$black: rgba(248, 248, 248, 0.0001);
$link-black: #1b1c21;
$link-pink: #f92c6a;
$white: #ffffff;
$low-white: #f8f8f8;
$light-blue: #d9fff5;
$grey: #7e7e82;
$light-grey: #eaeaea;
$pink: #ff3e79;
$pagination-bullet: #dddddd;
$not-active-grey: #b5b6bc;
$blue: #41f6d7;
$dark-blue: rgba(0, 14, 174, 1);
$black-container: rgba(69, 79, 126, 0.02);
$black-container2: rgba(14, 24, 80, 0.2);
$green: green;
$red: red;
